[Bb]in/
[Oo]bj/
[Dd]ebug/
[Ll]og/
[Ll]ogs/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/

.vs/
.vscode/

Uploads/
packages/
artifacts/

.nuget/
_ReSharper.*

*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide